<div id="feed_wrapper">
	<!-- <h1>THE FEED</h1> -->
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body"></div>
		<button id="feed_button">Follow</button>
	</div>
</div>