<div id="feed_wrapper">
	<!-- <h1>THE FEED</h1> -->
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
	<div id="recent_feeds">
		<div id="feed_image"><img src="/image/stock_food.jpg"></div>
		<div id="feed_body">
			<p>
				This is a blah blah blah blah bla blah blah blah blah bla blah something or another i dont know what else to type. we'll get content for this later... <a href="#">Continue Reading</a>
			</p>
		</div>
		<button id="feed_button">Follow</button>
	</div>
</div>