<html>
<head>
	<title>Foodie</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div id="wrapper">

	<header id="header"><h3>FOODIE</h3>
		<div id="navbar">
			<ul>
				<li>Profile</li>
				<li>Feed</li>
				<li>Account Info</li>
				<li>Post</li>
			</ul>
		</div>
	</header>
<div id="sidebar">
	<div id="profile_picture">
	</div>
	<div id="user_info">
	</div>
	<div id="following">
	</div>
</div>
<div id="content">
</div>
<div id="footer">
</div>



</div>

</body>
</html>