<html>
<head>
	<title>Foodie</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div id="wrapper">

	<header id="header"><h3>FOODIE</h3>
		<div id="navbar">
			<ul>
				<li>Profile</li>
				<li>Feed</li>
				<li>Account Info</li>
				<li>Post</li>
			</ul>
		</div>
	</header>
<div id="sidebar">
	<div id="profile_picture">
		<img src="/image/stock_profile.jpg">	
	</div>
	<div id="user_info">
		<div id="user_info_list">
			<ul>
				<li>Username :</li>
				<li>Name :</li>
				<li>Location :</li>
			</ul>
		</div>
	</div>
	<div id="following">
		<div id="following_images">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
			<img class="following_images_padding" src="/image/stock_profile.jpg">
		</div>
	</div>
</div>
<div id="content">
	<%= yield %>
</div>
<div id="footer">
	<div id="footer_about">
		<ul>
			<h3>ABOUT</h3>
			<li><a href="#">About Foodie</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div id="footer_social_media">
		<div id="social_media_list">
			<ul>
				<h3>SOCIAL MEDIA</h3>
				<li><a href="https://www.facebook.com">Follow us on facebook</a></li>
				<li><a href="https://www.myspace.com">Follow us on Myspace</a></li>
				<li><a href="https://www.pinterest.com">Follow us on Pinterest</a></li>
			</ul>
		</div>
	</div>
	<div id="footer_p">
		<p>
			This Website was designed and created by Victor Tsay and John Paul Tambini. For NYCDA group project 
		</p>
	</div>
</div>



</div>

</body>
</html>