<h1 id="post_h1">Header if needed</h1>
<div id="post_form">
	<form id ="post_form" method="POST" action="/post_feed">
			<br>
			<br>
		<div id="form_input">
			<div>
				<input class="sign_field" type="text" name="enter_name" placeholder="Enter Name">
				<br>
				<br>
				<input class="sign_field" type="text" name="topic_subject" placeholder="Topic">
			</div>
			<br>
			<textarea type="text" name="text_body" rows="20" cols="80" placeholder="Please Enter comments or posts here. THANK YOU!!!"></textarea>
		</div>
		<br>
		<br>
		<button>Submit</button>
	</form>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>
