#content{
	width:75%;
	height:90%;
	display:inline-block;
	float:right;
}
#footer_p p{
    margin:0px;
    padding:0px;
}
#logo{
    margin:0px;
    padding:0px;
    font-family: 'Quicksand', sans-serif;
    font-size:1.7em;
    text-align:center;
    font-style:oblique;
}
#center_head{
    width:60%;
    height:100%;
    display:inline-block;
}
#center_head h5{
    display:inline-block;
    float:right;
}
#log_out{
    display:inline-block;
    float:right;
    width:10%;
}
#following{
	width:100%;
	height:30%;
}
#following_images img{
	width:25%;
	height:25%;
	border-radius: 50%;
}
#following_images{
	width:84%;
    padding-left:50px;
    background-color:grey;
}
.following_images_padding{
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 2px;
    border-radius: 65px;
}
.field{
    color:grey
}
footer{
	width:100%;
	height:10%;
	background-color: grey;
	clear:both;
    opacity:.7;
}
#footer_about{
	display: inline-block;
	width:30%;
	height:50%;
    float:left;
}
#footer_about ul{
}

#footer_about li{
    padding-top:50px;
    list-style:none;
    display:inline;
    margin-left:1%;
    color:white;
}
#footer_about a{
    color:white;
    text-decoration:none;
}
#footer_p{
	display:inline-block;
	width:34%;
	height:100%;
	float:right;
}
#footer_p p{
    margin:0px;
    margin-right:3%;
    padding:0px;
    font-size:10px;
    text-align:right;
    opacity:0.7;
    
}

#footer_about a{
	text-decoration: none;
	color: black;
}
#header{
	width:100%;
	height:45px;
	background-color: white;
    border-bottom:1px grey solid;
}
#left_head{
    width:20%;
    height:100%;
    display:inline-block;
    float:left;
}
#log_in{
    width:50x;
    float:right;
    display:inline-block;
    margin-top:2%;
}
.menu{
    height:10%;
    width:70%;
    border-bottom:1px dotted black;
}
#navbar{
    width:17%;
    height:0px;
    background-color:#F2F2F2;
    margin-top:1%;
    margin-left:57%;
    position:fixed;
    border-radius:5px;
    opacity:0;
    z-index: 3;
}
#navbar a{
    text-decoration:none;
    color:black;
}
#navbar a:hover{
    font-size:1.1em;
}
#navbar li{
    margin-top:10%;
    list-style:none;
    font-size:1.2em;

}
#nav_icon{
    position:fixed;
    margin-left:70%;
    z-index:100;
    opacity:.5;
    width:100px;
    height:100px;
}
#profile_picture{
	width:100%;
	height:20%;
}
#profile_picture img{i
	display:block;
	border:solid black;
    margin-left:22%;
    margin-top:5%;
}
#right_head{
    width:20%;
    height:100%;
    float:right;
    display:inline-block;
}
#right_head li{
    list-style:none;
    display:inline;
    color:black;
    margin-left:10%;
}
#right_head a{
   color:black;  
}
#right_head a:hover{
    color:grey;
}
#social_list {
	height:50%;
	width: 30%;
    display:inline-block;
}
#social_list li {
    list-style:none;
    display:inline;
    margin-left:10%;
    color:black;
}
#socail_list a{
    color:black;
}
#sidebar{
	width:25%;
	height:90%;
	background-color:#E8E8E8;
    opacity:.6;
	display:inline-block;
	float:left;
}

#user_info{
	width: 100%;
	height: 20%;
    opacity:.5;
}
#user_info_list{
	width:50%;
	text-align: left;
	/*margin-left: auto;*/
	margin-right: auto;
	text-align: right;
	line-height: 2;
}
#user_info_list ul{
	margin-top: 0;
	padding-top: 15;
}
#user_info_list li{
	list-style: none;
}
#wrapper{
	width:100%;
	height:1000px;
}
/**************Feed.erb CSS********************/
#feed_wrapper{
	width:100%;
	height:100%;
	overflow: auto;
}
#recent_feeds{
	width:90%;
	height:20%;
	border:solid black 1px;
	border-radius:25%;
	background-color: grey;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	position:relative;
}
#feed_image{
	display:inline-block;
	width:25%;
	height:100%;
	float:left;
	/*background-color: red;*/
}
#feed_image img{
	/*vertical-align: bottom;*/
	width:80%;
	height:80%;
	margin:10%;
	border:solid none;
	border-radius:40%;
}
#feed_body{
	display:inline-block;
	width:60%;
	height:100%;
	/*background-color: green;*/
	float:left;
}
#feed_body p{
	width:90%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#feed_button{
	display:inline-block;
	/*background-color: orange;*/
	width:8%;
	height:15%;
	float:right;
	/*margin-top: 10% ;*/
	position:absolute;
	bottom:30;
	right:35;
}
/******************END OF FEED.ERB CSS***************/
/*****************POST.ERB**************************/
textarea{
	resize:none;
	margin-left: 52px;
	}
#form_input input{
	margin-left: 52px;
}
#post_form{
	/*background-color: blue;*/
}
#post_h1{
	text-align: center;
}
form{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
#post_form p{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

/*************************END OF FEED.ERB CSS*************************/



/******Sing up***************/

#sign_form{
    width:50%;
    float:left;
    display:inline-block;
}
#sign_up{
    width:100%;
    height:100%;
    background-color:#FAFAFA;
}
#sign_left{
    width:25%;
    height:100%;
    float:left;
    display:inline-block;
}
#sign_right{
    width:25%;
    height:100%;
    float:left;
    display:inline-block;
}
.sign_field{
    width:100%;
    height:3%;
    color:grey;
}
#sign_up_bottom{
    display:inline-block;
    float:right;
}
#rest_bottom{
    display:inline-block;
    float: right;
}
.bottom{
    height:10%;
}




/******************sig up **************/


/********EDIT*********************/

#edit_form{
    width:50%;
    float:left;
    display:inline-block;
}
#edit{
    width:100%;
    height:100%;
    background-color:#FAFAFA;
}
#edit_left{
    width:25%;
    height:100%;
    float:left;
    display:inline-block;
}
#edit_left h3{
    padding-left:10px;
}
#edit_right{
    width:25%;
    height:100%;
    float:left;
    display:inline-block;
}
.edit_field{
    width:100%;
    height:3%;
    color:grey;
}
#confirm_bottom{
    display:inline-block;
    float:right;
}
#edit_reset_bottom{
    display:inline-block;
    float: right;
}
.bottom{
    height:10%;
}
#del_acct{
    background-color: red;
    font-weight: bold;
}

